
body{
    font-family: times;
    transition: background-color 0.3s, color 0.9s !important;
}


nav a{
    color: white  !important;
}

#modeSwitch{
    font-size:  30px !important;
}

#modeSwitch:hover {
    transform: scale(1.5) !important;
}

.light-mode{
    background-color: white !important;
    color: black !important;
}

.dark-mode{
    background-color: rgb(21, 20, 20) !important;
    color: antiquewhite !important;
}

#socials{
    padding-inline: 100px !important;
    gap: 100px !important;
}

#socials a{
    margin-right: 20px !important;
    color: black !important;
}

.dark-mode #socials a{
    color: antiquewhite !important;
}

#info{
    font-size: 20px;
    border-width: 2px !important;
    border-style: solid;
    text-align: center;
    padding: 0 !important;
}

ul{
    list-style: none !important;
}